<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="content">
      <div class="content-block">
        <h1>
          What are you looking at?
          <span class="grayed-out">In case you were wondering</span>
        </h1>
      </div>
      <p>
        This tool began as a self-learning and hobby project, born out of
        curiosity. It was never intended for commercial use or mass
        distribution, but rather as a way to experiment, learn, and share
        something that may be useful to somebody else in the community.
      </p>
      <p>
        As a developer I want to be clear that
        <span class="red-text">
          I do not endorse or encourage the use of this integration for
          streaming DMCA protected content with the intention of profiting.
        </span>
        Any misuse of the tool is your sole responsability as the user and by
        using it you agree to comply with all applicable rules in both the
        <span class="purple-text">Twitch</span> and
        <span class="green-text">Spotify</span> terms of service.
      </p>
      <p>
        This project is provided as-is, without any warranties or guarantees of
        any kind. There are no promises regarding its reliability, performance,
        or suitability for any specific purpose and it will remain open source.
        Anyone is free to fork it, modify it, and build upon it as long as it is
        done under the same license<span class="grayed-out">(GPL-3.0)</span> and
        with proper attribution.
      </p>
      <div class="content-block">
        <a href="/">Take me back</a>
      </div>
    </div>
  </body>
</html>
