<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify code</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="content">
      <div class="content-block">
        <h2 class="red-text">DO NOT SHOW THIS ON STREAM</h2>
      </div>
      <div class="content-block">
        <p>Copy the code and paste it on the dasbboard</span></p>
      </div>
      <p>{{ spotify_code }}</p>
    </div>
  </body>
</html>
